{% extends 'layouts/base.html' %} 
{% block span_block %} 
All Users 
{% endblock span_block %} 

{% block body_block %}

    <div class="card card-default">
      <div class="card-header">
        <h2>Total User Table</h2>
        <h2><a class="btn btn-info btn-pill btn-sm" href="{% url 'App_Survey:register_profile' %}"> Create Profile </a></div>
      </div>
      <div class="card-body">
        <div class="collapse" id="collapse-data-tables">
          <pre class="language-html mb-4"></pre>
        </div>
        <table
          id="productsTable"
          class="table table-hover table-product"
          style="width: 100%"
        >
          <thead>
            <tr>
                <th>SL</th>
                <th>Email</th>
                <th>Name</th>
                <th>Is Active</th>
                <th>Is Staff</th>
                <th>Is Super User</th>
                <!-- <th>View</th>
                <th>Update</th> -->
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for user_profile in user_profiles %}
            <tr id="complain-row-{{ complain.id }}">
                <td>{{ forloop.counter }}</td>
                <td>{{ user_profile.email }}</td>
                <td>{{ user_profile.name }}</td>
                <td>{{ user_profile.is_active }}</td>
                <td>{{ user_profile.is_staff }}</td>
                <td>{{ user_profile.is_superuser }}</td>
                <!-- <td>
                    <a href="{% url 'App_Survey:view_profile' user_profile.id %}">View</a> 
                </td>
                <td>
                    <a href="{% url 'App_Survey:update_profile' user_profile.id %}">Edit</a>
                </td> -->
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
{% endblock %} 

