{% extends 'students/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="card">
        <div id="successAlert" class="alert alert-success alert-dismissible fade" role="alert" style="display: none;">
            <strong>Success!</strong> Your feedback has been submitted successfully.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-headers">
            <a href="{% url 'App_Survey:home' %}"><img src="{% static 'Img/KDC-Logo.webp' %}" alt="Logo" class="header-logo"></a>
        </div>
        <div class="card-body">
            <form id="feedbackForm" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="student_id">Student / Faculty / Staff ID<span style="color: red;">*</span></label>
                    <input type="text" class="form-control" id="student_id" name="student_id" pattern="\d{8}" title="Student ID must be 8 digits & Alumni can use their last 8 digit" maxlength="8" required >
                </div>
                <div class="form-group">
                    <label for="student_name">Name<span style="color: red;">*</span></label>
                    <input type="text" class="form-control" id="student_name" name="student_name" required>
                </div>
                <div class="form-group">
                    <label for="category">Complain Category<span style="color: red;">*</span></label>
                    <select class="form-control category-select" id="category" name="category" required>
                        <!-- <option value="" disabled selected>Select complain category</option> -->
                        {% for value, name in form.category.field.choices %}
                            <option value="{{ value }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="problem_details">Complain Details<span style="color: red;">*</span></label>
                    <textarea class="form-control" id="problem_details" name="problem_details" rows="4" required></textarea>
                </div>
                <div class="form-group">
                    <label for="invoice_no">Invoice No.<span style="color: red;">*</span></label>
                    <input type="text" class="form-control" id="invoice_no" name="invoice_no" required>
                </div>
                <div class="form-group">
                    <label for="invoice_image">Upload Invoice<span style="color: red;">*</span><span style=""> <i>(Max 5MB)</i></span></label>
                    <input type="file" class="form-control-file" id="invoice_image" name="invoice_image" required>
                </div>
                <div class="form-group">
                    <label for="complain_image">Upload Complain Image<span style="color: red;">*</span><span style=""> <i>(Max 5MB)</i></label>
                    <input type="file" class="form-control-file" id="complain_image" name="complain_image" required>
                </div>
                <button type="submit" id="submitBtn" class="btn btn-primary">
                    <span id="submitText">Submit Complain</span>
                    <span id="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
                </button>
            </form>
        </div>
        <div class="card-footers"></div>
    </div>
</div>

<script>
    document.getElementById('feedbackForm').addEventListener('submit', function(event) {
        event.preventDefault();

            // Validate file size
        const invoiceImage = document.getElementById('invoice_image').files[0];
        const complainImage = document.getElementById('complain_image').files[0];
        const maxFileSize = 5 * 1024 * 1024; // 5MB in bytes

        // Check if files are selected and if they exceed 5MB
        if (invoiceImage && invoiceImage.size > maxFileSize) {
            alert('Invoice image size exceeds 5MB. Please upload a smaller file.');
            return; // Prevent form submission
        }

        if (complainImage && complainImage.size > maxFileSize) {
            alert('Complain image size exceeds 5MB. Please upload a smaller file.');
            return; // Prevent form submission
        }
    
        const submitBtn = document.getElementById('submitBtn');
        const submitText = document.getElementById('submitText');
        const spinner = document.getElementById('spinner');
        submitBtn.disabled = true;
        submitText.style.display = 'none';
        spinner.style.display = 'inline-block';
        const formData = new FormData(this);
    
        fetch("{% url 'App_Survey:submit_complain' %}", {
            method: "POST",
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.redirect_url) {
                window.location.href = data.redirect_url;
            } else {
                submitBtn.disabled = false;
                submitText.style.display = 'inline';
                spinner.style.display = 'none';
                console.error('Error:', data.errors);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            submitBtn.disabled = false;
            submitText.style.display = 'inline';
            spinner.style.display = 'none';
        });
    });
</script>
{% endblock %}
